<header class="fixed-top">
    <div class="page-header" role="heading"><h1>Organic World</h1></div>

    <!-- Navbar section -->
    <ul class="topnav" routerLinkActive="active">
        <li>
          <a href="/home"  routerLink="home">Home</a>
        </li>
        <li>
          <a href="/login" routerLink="login">Login</a>
        </li>
        <li>
          <a href="/dashboard" routerLink="dashboard">Dashboard</a>
        </li>
    </ul>
</header>

