<div id ="issues">
    <div class="container">  
    <div class="row" *ngFor="let product of products" style="display: inline-flex;">
      <div class="column">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ product.productName }}</h4>
                <div class="card-text">Quantity: {{ product.qty }}</div>
            </div>            
        </div>            
    </div>
</div>
    