<div id = "Issue">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-25">
            <label>Username:</label>
          </div>
          <div class="col-75">
            <input formControlName="username" type="text" placeholder="Enter your username">
          </div>
        </div>
            
        <div class="row">
          <div class="col-25">
            <label>Password:</label>
          </div>
          <div class="col-75">
            <input formControlName="password" type="text" placeholder="Enter your password">
          </div>
        </div>
  
        <div class="row">
          <input class="btn" type="submit" [disabled]="!form.valid" value="Login">
        </div>
      </form>    
  
           <!-- Display message if form is submitted -->
        <div class="alert" role="alert" *ngIf="showMessage == true">
          {{ message }}
        </div>
    </div>
  </div>
    
    
    