<footer class="page-footer bg-light" role="doc-footnote">
    <div class="mt-5 pt-5 pb-5 footer">
      <div class="container">
        <div class="row">
          <!-- Social Media -->
          <div class="col-lg-5 col-xs-12">
            <h2>Social Media</h2>
            <ul class="social">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

          <!-- Location & Phone & Email -->
          <div class="col-lg-4 col-xs-12 location">
            <h4>Location</h4>
              <p><i class="fa fa-map-marker"> 1350 René-Lévesque Blvd W, Montreal</i></p>
              <p><i class="fa fa-phone"> (514) 841-3200</i></p>
              <p><i class="fa fa-envelope-o">contact@organicworld.com</i></p>
          </div>
        </div>
      </div>
    </div>    
  </footer>