<div>
  <!-- Header component -->
  <app-header></app-header>

  <!-- How to insert content between the two sections? -->
  
  <!-- Footer component -->
  <app-footer></app-footer>
</div>

<!-- Router outlet -->
<router-outlet></router-outlet>



